---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import { menuLinks } from "@/site-config";

const url = new URL(Astro.request.url);
---

<header id="main-header" class="group relative mb-28 flex items-center sm:ps-[4.5rem]">
	<div class="flex sm:flex-col">
		<a
			href="/"
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<svg
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				aria-hidden="true"
				focusable="false"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 272 480"
			>
			<g transform="translate(-100.000000,412.000000) scale(0.090000,-0.090000)"
fill="#000000" stroke="none">
			<path d="M1074 4206 l-34 -34 0 -1606 c0 -1759 -4 -1650 58 -1675 22 -9 204
			-11 748 -8 780 4 793 5 1019 64 685 179 1133 705 1205 1412 66 660 -191 1258
			-680 1583 -102 68 -295 161 -409 198 -123 40 -307 76 -451 89 -66 6 -392 11
			-769 11 l-653 0 -34 -34z m1452 -177 c291 -28 529 -108 749 -250 103 -67 294
			-258 364 -364 292 -446 323 -1089 75 -1576 -70 -137 -148 -241 -265 -354 -152
			-147 -327 -249 -547 -319 -239 -77 -257 -78 -999 -83 l-663 -4 0 1480 0 1481
			588 0 c342 0 634 -4 698 -11z" fill="#3897D3"/>
			<path d="M1857 3569 c-48 -28 -47 -3 -47 -1006 0 -915 1 -939 20 -970 11 -18
			31 -35 44 -39 14 -3 159 -4 323 -2 281 5 304 6 394 31 200 53 326 124 451 255
			119 125 189 263 229 452 31 149 31 391 0 540 -88 418 -371 678 -806 740 -93
			13 -585 13 -608 -1z m698 -217 c224 -61 389 -202 473 -405 75 -180 90 -445 37
			-664 -46 -190 -179 -360 -345 -441 -146 -72 -211 -84 -477 -90 l-233 -4 0 817
			0 817 233 -4 c197 -4 244 -8 312 -26z" fill="#3897D3"/>
				</g>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">Dotinay</span>
		</a>
		<nav
			id="navigation-menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			aria-label="Main menu"
		>
			{
				menuLinks.map((link) => (
					<a
						href={link.path}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						aria-current={url.pathname === link.path ? "page" : false}
						data-astro-prefetch
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			id="toggle-navigation-menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			type="button"
			aria-label="Open main menu"
			aria-expanded="false"
			aria-haspopup="menu"
		>
			<svg
				id="line-svg"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				aria-hidden="true"
				focusable="false"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"
				></path>
			</svg>
			<svg
				id="cross-svg"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				aria-hidden="true"
				focusable="false"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private mobileButtonEl: HTMLButtonElement;
		private menuOpen: boolean;

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
