---
//@ts-ignore
import PageLayout from "@/layouts/Base";
import Cube from "@/components/animationUnits/cube";
const meta = {
  title: "All Tags",
  description: "A list of all the topics I've written about in my posts",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Animations</h1>
  <Cube/>
</PageLayout>
